.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
  }

  .header{
    display: flex;
    background-color: blue;
  }

  .leftside{
    display: flex;
    justify-content: center;
  }

  .adminbtn{
    border-radius: 20px;
  }
  
  .createaccButton{
    background-color: #5B4DED !important;
    color: white !important;
    border-radius: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 40px;
    margin-right: 10px;
  }
  
  .brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5B4DED;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  .nav-actions button {
    margin-left: 10px;
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  
    .username {
      font-weight: 600;
      color: #333;
      font-size: 16px;
    }
  
    button {
      background-color: #f44336; // red warn color
      color: #fff;
      padding: 6px 12px;
      border-radius: 6px;
      font-weight: 500;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #d32f2f; // darker red on hover
      }
    }
  }

  .nav-links a {
    position: relative;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  
    &.active {
      color: #0056b3; // Active link color
  
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
        background-color: #0056b3; // Blue underline
        border-radius: 2px;
      }
    }
  
    &:hover {
      color: #0056b3;
    }
  }
  
  