
  <div>
    <h1 class="title">Browse through the doctors specialist</h1>
  </div>

  <div class="button-container">
    
    <button mat-raised-button class="custom-btn" (click)="resetFilter()">All Docs</button>
    <button mat-raised-button class="custom-btn" (click)="filterBySpeciality('General physician')">General physician</button>
    <button mat-raised-button class="custom-btn "(click)="filterBySpeciality('Gynecologist')">Gynecologist</button>
    <button mat-raised-button class="custom-btn" (click)="filterBySpeciality('Dermatologist')">Dermatologist</button>
    <button mat-raised-button class="custom-btn" (click)="filterBySpeciality('Pediatricians')">Pediatricians</button>
    <button mat-raised-button class="custom-btn" (click)="filterBySpeciality('Neurologist')">Neurologist</button>
    <button mat-raised-button class="custom-btn" (click)="filterBySpeciality('Gastroenterologist')">Gastroenterologist</button>
  </div>




  <section id="top-doctors" class="top-doctors-section">
    
  
    <div class="doctors-grid">
      <div class="doctor-card" *ngFor="let doctor of filteredDoctors" (click)="goToDoctorDetails(doctor.id)">
        <img [src]="doctor.image" alt="Doctor Photo" class="doctor-image" />
        <div class="doctor-info">
          <p class="availability"><span class="dot"></span> Available</p>
          <h3>{{ doctor.name }}</h3>
          <p class="speciality">{{ doctor.speciality }}</p>
        </div>
      </div>
    </div>
  </section>
